{% load static %}
<footer class="footer-section">
    <div class="footer-top" style="background-image: url(assets/images/footer/bg.jpg);">
        <div class="footer-newsletter">
            <div class="container">
                <div class="row g-4 align-items-center justify-content-center">
                    <div class="col-lg-6">
                        <div class="newsletter-part">
                            <div class="ft-header">
                                <h4>Get The Latest Anftiz Updates</h4>
                            </div>
                            <form action="#">
                                <input type="email" placeholder="Your Mail Address">
                                <button type="submit"> Subscribe now</button>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="social-part ps-lg-5">
                            <div class="ft-header">
                                <h4>Join the Community</h4>
                            </div>
                            <ul class="social-list d-flex flex-wrap align-items-center mb-0">
                                <li class="social-link"><a href="#"><i class="icofont-twitter"></i></a></li>
                                <li class="social-link"><a href="#"><i class="icofont-twitch"></i></a></li>
                                <li class="social-link"><a href="#"><i class="icofont-reddit"></i></a></li>
                                <li class="social-link"><a href="#"><i class="icofont-instagram"></i></a></li>
                                <li class="social-link"><a href="#"><i class="icofont-dribble"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <div class="footer-links padding-top padding-bottom">
            <div class="container">
                <div class="row g-5">
                    <div class="col-lg-3 col-md-6">
                        <div class="footer-link-item">
                            <h5>About</h5>
                            <ul class="footer-link-list">
                                <li><a href="#" class="footer-link">Explore</a></li>
                                <li><a href="#" class="footer-link">How it works</a></li>
                                <li><a href="#" class="footer-link">Support</a></li>
                                <li><a href="#" class="footer-link">Become a partner</a></li>

                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="footer-link-item">
                            <h5>Company</h5>
                            <ul class="footer-link-list">
                                <li><a href="#" class="footer-link">Media</a></li>
                                <li><a href="#" class="footer-link">Discover</a></li>
                                <li><a href="#" class="footer-link">Community</a></li>
                                <li><a href="#" class="footer-link">About</a></li>
                                
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="footer-link-item">
                            <h5>NFT Marketplace</h5>
                            <ul class="footer-link-list">
                                <li><a href="#" class="footer-link">Sell your assets</a></li>
                                <li><a href="#" class="footer-link">FAQ</a></li>
                                <li><a href="#" class="footer-link">Support</a></li>
                                <li><a href="#" class="footer-link">Privacy/Policy</a></li>
                                <li><a href="#" class="footer-link">Your purchases</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="footer-link-item">
                            <h5>Comunity</h5>
                            <ul class="footer-link-list">
                                <img src="{% static 'assets/images/logo/home.png' %}" alt="logo">
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <p class="text-center py-4 mb-0">All rights reserved &copy; BETE KIRS <a
                    href="https://themeforest.net/user/labartisan/portfolio"></a>
            </p>
        </div>
    </div>
</footer>