{% load static %}
<script src="{% static 'assets/jss/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'assets/jss/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'assets/jss/waypoints.min.js' %}"></script>
<script src="{% static 'assets/jss/swiper-bundle.min.js' %}"></script>
<script src="{% static 'assets/jss/countdown.min.js' %}"></script>
<script src="{% static 'assets/jss/jquery.counterup.min.js' %}"></script>
<script src="{% static 'assets/jss/wow.min.js' %}"></script>
<script src="{% static 'assets/jss/jquery.simpleLoadMore.min.js' %}"></script>
<script src="{% static 'assets/jss/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'assets/jss/functions.js' %}"></script>