{%load static%}
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap Min CSS --> 
    <link rel="stylesheet" href="{%static 'assets/css/bootstrap.min.css' %}">
    <!-- Owl Theme Default Min CSS --> 
    <link rel="stylesheet" href="{%static 'assets/css/owl.theme.default.min.css' %}">
    <!-- Owl Carousel Min CSS --> 
    <link rel="stylesheet" href="{%static 'assets/css/owl.carousel.min.css' %}">
    <!-- Owl Magnific Min CSS --> 
    <link rel="stylesheet" href="{%static 'assets/css/magnific-popup.min.css' %}">
    <!-- Animate Min CSS --> 
    <link rel="stylesheet" href="{%static 'assets/css/animate.min.css' %}">
    <!-- Boxicons Min CSS --> 
    <link rel="stylesheet" href="{%static 'assets/css/boxicons.min.css' %}"> 
    <!-- Flaticon CSS --> 
    <link rel="stylesheet" href="{%static 'assets/css/flaticon.css' %}">
    <!-- Meanmenu Min CSS -->
    <link rel="stylesheet" href="{%static 'assets/css/meanmenu.min.css' %}">
    <!-- Nice Select Min CSS -->
    <link rel="stylesheet" href="{%static 'assets/css/nice-select.min.css' %}">
    <!-- Odometer Min CSS-->
    <link rel="stylesheet" href="{%static 'assets/css/odometer.min.css' %}">
    <!-- Style CSS -->
    <link rel="stylesheet" href="{%static 'assets/css/style.css' %}">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="{%static 'assets/css/responsive.css' %}">
    
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="{% static 'assets/images/logo/home.png' %}">
    <!-- Title -->
    <title>BETE KIRS dashboard</title>
</head>
