{%include 'includes/adminhead.html'%}
{%include 'includes/aside.html'%}
{%load static %}

  <body class="g-sidenav-show  bg-gray-100">
    {%include 'includes/navadmin.html'%} 
  <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
    <div class="row my-4">
      <form method="POST" >
        {% comment %} <input type="submit" class="btn btn-primary" id="moreFields" value="Add" /> {% endcomment %}
        {% csrf_token %}
        {{form.as_p}}
          {% comment %} <span id="writeroot"></span> {% endcomment %}
        <input type="submit" class="btn btn-primary"  value="save" />
      </form>
        <div class="card-body px-0 pb-2">
      <div class="table-responsive">
  <div class="container mt-3">
    <div class="row">
      <div class="col-md-8">
        <input class="form-control" id="myInput" type="text" placeholder="Search..">
        
       
        <table class="table align-items-center mb-0">
          <thead>
            <tr>
              <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">id</th>
              <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">title</th>
              <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">clientcompany</th>
              <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">companyinfo</th>
              <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">constructionindustry</th>
              <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">startdate</th>
              <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">projectvalue</th>
            </tr>
          </thead>
          <tbody  id="tableData">
            {%for i in items%}

            <tr>
              <td>
                <div class="d-flex px-2 py-1">
                  <div class="d-flex flex-column justify-content-center">
                    <h6 class="mb-0 text-sm">{{i.id}}</h6>
                  </div>
                </div>
              </td>
              <td>
              <td>
                <div class="d-flex px-2 py-1">
                  <div class="d-flex flex-column justify-content-center">
                    <h6 class="mb-0 text-sm">{{i.title}}</h6>
                  </div>
                </div>
              </td>
              <td>
                <div class="avatar-group mt-2">
                  
                    <h6 class="mb-0 text-sm">{{i.clientcompany}}</h6>
                
                 
                </div>
              </td>
              <td class="align-middle text-center text-sm">
                <span class="text-xs font-weight-bold">{{i.companyinfo}}</span>
              </td>
              <td class="align-middle text-center text-sm">
                <span class="text-xs font-weight-bold">{{i.constructionindustry}}</span>
              </td>
              <td class="align-middle text-center text-sm">
                <span class="text-xs font-weight-bold">{{i.startdate}}</span>
              </td>
              <td class="align-middle text-center text-sm">
                <span class="text-xs font-weight-bold">{{i.projectvalue}}</span>
              </td>
              {% comment %} <td class="align-middle text-center text-sm">
                <span class="text-xs font-weight-bold">{{i.description}}</span>
              </td> {% endcomment %}
              {% comment %} <td class="align-middle text-center text-sm">
                <span class="text-xs font-weight-bold">{{i.result}}</span>
              </td> {% endcomment %}
              <td class="align-middle text-center text-sm">
                <a class="btn btn-primary" href="{% url 'projects_update' i.id%}{{i.id}}">edit</a>
              </td>
              <td class="align-middle text-center text-sm">
                <a class="btn btn-danger" href="{% url 'projects_delete' i.id%}{{i.id}}">delete</a>
              </td>
            </tr>
    {%endfor%}
          </tbody>
        </table> 
      </div>
      <div class="col-md-4"></div>
    </div>
  </div>
</div>
</div>
  <script>
    
  $(document).ready(function(){
    $("#myInput").on("keyup", function() {
      var value = $(this).val().toLowerCase();
      $("#tableData tr").filter(function() {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
      });
    });
  });
  </script>
</main>
{%include 'admindash/js.html'%}
  </body>

